<div class="container-fluid mb-4" id="contact-us">
  <div class="text-center">
    <div class="h1 p-5">Get in touch with us!</div>
    <h4>
      Want to get in touch? We'd love to hear from you. Here's how you can reach
      us...
    </h4>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-5 col-lg-5 col-md-5 ml-auto">
      <div class="card">
        <div class="text-center mt-5">
          <i class="fas fa-phone-alt fa-2x mt-4"></i>
          <h4>Talk to us!</h4>
        </div>
        <p class="lead m-5">
          Interested in Natural Foods Business? Just pick up the phone and make
          a call to our number.
        </p>
        <h4 class="text-center">+92 320 4033575</h4>
      </div>
    </div>
    <div class="col-xl-5 col-lg-5 col-md-5 mr-auto">
      <div class="card">
        <div class="text-center mt-5">
          <i class="fas fa-comments fa-2x mt-4"></i>
          <h4>Contact Customer Support!</h4>
        </div>
        <p class="lead m-5">
          If you need any kind of help. Contact our customer support and We'll
          love to help you out.
        </p>
        <h4 class="text-center">+042 35744575</h4>
      </div>
    </div>
  </div>
</div>
