<div class="container-fluid bg-light pb-5">
  <h5 class="pl-5 pt-5 text-primary">Providing Milk in 300+ cities</h5>
  <h2 class="pl-5"><strong>Our Cities</strong></h2>
  <div class="row">
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
      <div class="card">
        <img
          src="../../../assets/cities/Minar-e-Pakistan.jpeg"
          class="card-img-top"
          alt=""
        />
        <div class="card-body">
          <h5 class="card-title">Lahore</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
      <div class="card">
        <img
          src="../../../assets/cities/Faisal-Masjid.jpg"
          class="card-img-top"
          alt=""
        />
        <div class="card-body">
          <h5 class="card-title">Islamabad</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
      <div class="card">
        <img
          src="../../../assets/cities/Multan.jpg"
          class="card-img-top"
          alt=""
        />
        <div class="card-body">
          <h5 class="card-title">Multan</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
      <div class="card">
        <img
          src="../../../assets/cities/Peshawar.jpg"
          class="card-img-top"
          alt=""
        />
        <div class="card-body">
          <h5 class="card-title">Peshawar</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
      <div class="card">
        <img
          src="../../../assets/cities/Quaid-e-Azam-Fort.jpg"
          class="card-img-top"
          alt=""
        />
        <div class="card-body">
          <h5 class="card-title">Karachi</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
      <div class="card">
        <img
          src="../../../assets/cities/Rawalpindi.jpeg"
          class="card-img-top"
          alt=""
        />
        <div class="card-body">
          <h5 class="card-title">Rawalpindi</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="container"></div>
</div>
