<div class="container-fluid mb-5">
  <div class="row text-center mt-5 align-items-between justify-content-center">
    <h6 class="milk-categories">Milk Categories</h6>
    <h2 class="category-h2">Order with us is easy</h2>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 mt-2">
      <div class="card">
        <img
          src="../../../assets/milk-categories-img/goat-4365572_1920.jpg"
          class="card-img-top"
          alt="Goat Milk"
        />
        <div class="card-body">
          <h5 class="card-title">
            Goat Milk
          </h5>
          <p class="card-text">
            Goat milk is very good for baby's health
          </p>
          <a href="#" class="btn btn-warning">Order Now</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-8 mt-2">
      <div class="card">
        <img
          src="../../../assets/milk-categories-img/buffalo.jpg"
          class="card-img-top"
          alt="Goat Milk"
        />
        <div class="card-body">
          <h5 class="card-title">
            Buffalo Milk
          </h5>
          <p class="card-text">
            Buffalo milk contains more fat & it's good for adults.
          </p>
          <a href="#" class="btn btn-warning">Order Now</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-8 mt-2">
      <div class="card">
        <img
          src="../../../assets/milk-categories-img/Cow-4708901_1920.jpg"
          class="card-img-top"
          alt="Goat Milk"
        />
        <div class="card-body">
          <h5 class="card-title">
            Cow's Milk
          </h5>
          <p class="card-text">
            Cow's milk contains less fats and good for daily life
          </p>
          <a href="#" class="btn btn-warning">Order Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
