<div class="footersection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-5">
        <h3 class="text-uppercase">Natural Foods</h3>
        <p class="mr-2">
          Natural Foods care beloved customers and provide pure milk without any
          chemicals. Natural Foods milk make your daily life energetic, strong &
          active.
        </p>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 text-uppercase">
        <h4>About</h4>
        <p>Blogs</p>
        <p>Awards</p>
        <p>Projects</p>
        <p>About Us</p>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-3">
        <h3 class="text-uppercase">address</h3>
        <p><i class="fas fa-home mr-1"></i> DHA Housing Society</p>
        <p><i class="fas fa-envelope mr-1"></i> info@naturalfoods.com</p>
        <p><i class="fas fa-phone mr-1"></i> +042 35744575</p>
        <p><i class="fas fa-fax mr-1"></i> +042 35744575</p>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 text-uppercase">
        <h4>Follow Us</h4>
        <p><i class="fab fa-facebook fa-2x socialLinks"></i></p>
        <p><i class="fab fa-twitter fa-2x socialLinks"></i></p>
        <p><i class="fab fa-google-plus-g fa-2x socialLinks"></i></p>
        <p><i class="fab fa-youtube fa-2x socialLinks"></i></p>
      </div>
    </div>
    <div class="row text-center">
      <p>
        <i class="far fa-copyright mr-1"></i>2020 Copyright
        <strong>Natural Foods</strong>
      </p>
    </div>
  </div>
</div>
