<div class="container-fluid h-100">
  <div class="row align-items-center justify-content-center h-100">
    <div class="col-lg-8">
      <form
        [formGroup]="form"
        (ngSubmit)="OnSubmitSignUp()"
        class="text-center border border-light p-5"
      >
        <p class="h4 mb-4">Sign Up<i class="fas fa-user-plus ml-1"></i></p>
        <div class="row">
          <div
            *ngIf="
              form.controls.firstname.invalid &&
              (form.controls.firstname.dirty || form.controls.firstname.touched)
            "
            class="text-danger text-left"
          >
            <div *ngIf="form.controls.firstname.errors.required">
              First Name is required!
            </div>
          </div>
          <div
            *ngIf="
              form.controls.lastname.invalid &&
              (form.controls.lastname.dirty || form.controls.lastname.touched)
            "
            class="text-danger text-left"
          >
            <div *ngIf="form.controls.lastname.errors.required">
              Last name is required!
            </div>
          </div>
          <div
            *ngIf="
              form.controls.cnic.invalid &&
              (form.controls.cnic.dirty || form.controls.cnic.touched)
            "
            class="text-danger text-left"
          >
            <div *ngIf="form.controls.cnic.errors.required">
              Email is required!
            </div>
          </div>
          <div
            *ngIf="
              form.controls.email.invalid &&
              (form.controls.email.dirty || form.controls.email.touched)
            "
            class="text-danger text-left"
          >
            <div *ngIf="form.controls.email.errors.required">
              Email is required!
            </div>
          </div>
          <div
            *ngIf="
              form.controls.password.invalid &&
              (form.controls.password.dirty || form.controls.password.touched)
            "
            class="text-danger text-left"
          >
            <div *ngIf="form.controls.password.errors.required">
              Password is required!
            </div>
          </div>
          <div
            *ngIf="
              form.controls.confirmpassword.invalid &&
              (form.controls.confirmpassword.dirty ||
                form.controls.confirmpassword.touched)
            "
            class="text-danger text-left"
          >
            <div *ngIf="form.controls.confirmpassword.errors.required">
              Enter Password to match!
            </div>
          </div>
          <div
            *ngIf="
              form.controls.phone.invalid &&
              (form.controls.phone.dirty || form.controls.phone.touched)
            "
            class="text-danger text-left"
          >
            <div *ngIf="form.controls.phone.errors.required">
              Phone is required!
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-4">
            <input
              name="firstname"
              type="text"
              class="form-control"
              placeholder="First Name"
              formControlName="firstname"
            />
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-4">
            <input
              name="lastname"
              type="text"
              class="form-control"
              placeholder="Last Name"
              formControlName="lastname"
            />
          </div>
        </div>
        <input
          type="cnic"
          name="cnic"
          placeholder="CNIC"
          class="form-control mb-4"
          formControlName="cnic"
        />
        <input
          type="email"
          name="email"
          placeholder="Email"
          class="form-control mb-4"
          formControlName="email"
        />
        <input
          name="password"
          type="password"
          class="form-control mb-4"
          placeholder="Password"
          formControlName="password"
        />
        <input
          name="confirmpassword"
          type="password"
          class="form-control mb-4"
          placeholder="Confirm Password"
          formControlName="confirmpassword"
        />
        <input
          name="phone"
          type="text"
          class="form-control mb-4"
          placeholder="Phone Number"
          formControlName="phone"
        />
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
