<div class="container-fluid mb-5">
  <h3 class="text-center mt-5 text-primary">TESTIMONIALS</h3>
  <h1 class="text-center mb-5">Our dear customers said about us</h1>
  <div class="row m-auto p-auto">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mx-auto">
      <div class="card mb-2">
        <div class="d-flex justify-content-center m-4">
          <div class="col-3">
            <img
              src="../../../assets/testimonial/body_builder.jpeg"
              class="testimonial-img"
              alt=""
            />
          </div>
          <div class="col-9">
            <h6 class="lead m-5 mt-3">
              Milk is awesome. I definetly recommend this milk for good health.
            </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mx-auto">
      <div class="card">
        <div class="d-flex justify-content-center m-4">
          <div class="col-3">
            <img
              src="../../../assets/testimonial/noman_bhatti.jpg"
              class="testimonial-img"
              alt=""
            />
          </div>
          <div class="col-9">
            <h6 class="lead m-5 mt-3">
              I am in love with this milk. It's been a week i am drinking this
              milk. It's Great.
            </h6>
          </div>
        </div>
      </div>
    </div>
    <h5 class="text-center mt-3">
      We really thank for your valuable feedback!
    </h5>
  </div>
</div>
