<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-8">
      <div class="card">
        <div class="card-header">
          Become Our Rider
        </div>
        <div class="card-body">
          <h5 class="card-title">Natural Foods Rider</h5>
          <p class="card-text">
            Join our team & Help us to provide pure milk our people's of
            pakistan
          </p>
          <a href="#" class="btn btn-primary"
            >Sign Up <i class="fas fa-biking"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-8">
      <div class="card">
        <div class="card-header">
          Become Our Customer
        </div>
        <div class="card-body">
          <h5 class="card-title">Natural Foods Customer</h5>
          <p class="card-text">
            Natural Foods provide milk for your daily needs
          </p>
          <a href="#" class="btn btn-primary"
            >Sign Up <i class="fas fa-male"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
