<section id="dailywork">
  <div class="container-fluid p-5">
    <div class="row">
      <div class="col-10 mx-auto">
        <div class="carousel slide" data-ride="carousel" id="dailywork">
          <ol class="carousel-indicators">
            <li data-target="#dailywork" data-slide-to="0" class="active"></li>
            <li data-target="#dailywork" data-slide-to="1"></li>
            <li data-target="#dailywork" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="5000">
              <img
                src="../../../assets/daily-work-img/Eating-Cows.jpg"
                alt="Daily Work Routine"
              />
            </div>
            <div class="carousel-item" data-interval="5000">
              <img
                src="../../../assets/daily-work-img/image-2.jpeg"
                alt="Daily Work Routine"
              />
            </div>
            <div class="carousel-item" data-interval="5000">
              <img
                src="../../../assets/daily-work-img/image-3.jpg"
                alt="Daily Work Routine"
              />
            </div>
          </div>
          <a
            href="#dailywork"
            role="button"
            data-slide="prev"
            class="carousel-control-prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a
            href="#dailywork"
            role="button"
            data-slide="next"
            class="carousel-control-next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
