<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10">
      <div class="mt-5 ml-5" id="banner-h1">
        <h1 class="text-capitalize">
          the best quality milk in pakistan
        </h1>
        <p class="mt-lg-5 text-white display-3 text-capitalize">
          stay strong, stay active & live long
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-md-8 col-sm-8 col-xl-8 mx-auto bg-white">
        <div class="input-group mt-3 mb-3">
          <input
            id="address__input"
            type="text"
            class="form-control"
            placeholder="Enter address OR click map to locate"
          />
          <div class="input-group-append map-icon-div" id="map-icon-div">
            <i
              class="fas fa-globe-americas fa-3x mx-3"
              data-toggle="tooltip"
              data-placement="top"
              title="Locate you address"
            ></i>
          </div>
          <button class="btn btn-outline-success mx-auto" id="map__button">
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
